---
title: Projects
date: 2015-11-29 21:00:03
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="filter-v1">
				<ul class="mix-filter">
					<li data-filter="all" class="filter active">All</li>
					<li data-filter="category_1" class="filter">Business Transformation</li>
					<li data-filter="category_2" class="filter">Global Engineering Programs</li>
					<!--li data-filter="category_3" class="filter">Photography</li>
					<li data-filter="category_3 category_1" class="filter">Wordpress and Logo</li-->
				</ul>
				<div class="row mix-grid thumbnails">
					<div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
						<div class="mix-inner">
							<img alt="" src="/metronic/assets/pages/img/works/img1.jpg" class="img-responsive">
							<div class="mix-details">
								<h4>Create New Business Unit in Conglomerate</h4>
								<p>Sell offerings using existing hardware and software in a new application. Create an organization from 3 different business units while interfacing...</p>
								<a class="mix-link"><i class="fa fa-link"></i></a>
								<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
							</div>
							<div class="mix-info container">
								<h2>Create New Business Unit in Conglomerate</h2>
								<p>Sell offerings using existing hardware and software in a new application.  Create an organization from 3 different business units while interfacing with 3 major country teams and 2 major verticals in the same company while preparing current department for transition to newly hired leader.  Develop documentation that will be acceptable by 3 auditing bodies consulting for the end customer.  Development of processes, procedures, quality control and assurance, organizational structure, and automation.</p>
								<!-- a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a-->
								<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
						<div class="mix-inner">
							<img alt="" src="/metronic/assets/pages/img/works/img2.jpg" class="img-responsive">
							<div class="mix-details">
								<h4>Create New Vertical in Consulting Firm </h4>
								<p>Sell new offerings outside of the firm’s core competency.  Develop project management documentation and best practices.  Development program...</p>
								<a class="mix-link"><i class="fa fa-link"></i></a>
								<a title="Project Name" href="#project2" class="mix-preview"><i class="fa fa-search"></i></a>
							</div>
							<div class="mix-info container">
								<h2>Create New Vertical in Consulting Firm </h2>
								<p>Sell new offerings outside of the firm’s core competency.  Develop project management documentation and best practices.  Development program management documentation and best practices.  Create system within project management software to distribute tasks across the organization and interact with clients effectively.  Develop program plan to allow for all personnel to efficiently produce work product and raise level of quality for the customer.</p>
								<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
						<div class="mix-inner">
							<img alt="" src="/metronic/assets/pages/img/works/img3.jpg" class="img-responsive">
							<div class="mix-details">
								<h4>Global Program for US, EU, and APAC</h4>
								<p>Global Building Management System and Electrical Power Monitoring Upgrade Program – Oversee all technical submission by vendors and...</p>
								<a class="mix-link"><i class="fa fa-link"></i></a>
								<a title="Project Name" href="#projectz" class="mix-preview"><i class="fa fa-search"></i></a>
							</div>
							<div class="mix-info container">
								<h2>Global Program for US, EU, and APAC</h2>
								<p>Global Building Management System and Electrical Power Monitoring Upgrade Program – Oversee all technical submission by vendors and align multiple platforms across 4 continents to drive a homogeneous design.  This encompasses dozens of buildings each with unique mechanical and electrical building designs and redundancies</p>
								<p>Review and provide feedback to vendor submissions to eliminate risks and drive program improvements in quality and churn rate.  Document sequence of operation of existing buildings through review of current installs from the software, hardware, and asset review.  Provide pre-design to drive scope leveling.  Approval of final as-built documentation by reviewing drawings against software, graphics, and site conditions</p>
								<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
						<div class="mix-inner">
							<img alt="" src="/metronic/assets/pages/img/works/img4.jpg" class="img-responsive">
							<div class="mix-details">
								<h4>Global Program for US, EU, and APAC </h4>
								<p>Hyperscale Data Center Design - Act as leader of application engineers for data center controls design to adapt programmable logic controller...</p>
								<a class="mix-link"><i class="fa fa-link"></i></a>
								<a title="Project Name" href="#project3" class="mix-preview"><i class="fa fa-search"></i></a>
							</div>
							<div class="mix-info container">
								<h2>Global Program for US, EU, and APAC</h2>
								<p>Hyperscale Data Center Design - Act as leader of application engineers for data center controls design to adapt programmable logic controller (PLC) solution to data center program across 3 continents for 60MW design.</p>
								<p>Take a system architecture and apply it to the engineered drawings to create template design for all the control panels and structure of the control documents.  Train staff to produce and act in a quality control capacity for all current designs, and lead engineer for all new designs.  Provide detailed CAD drawings of the control panels, AC and DC circuit design to support redundancy requirements, controls drawings, wire installation requirements, installation details of equipment, torque calculations for actuators, flow coefficient calculations for valves, and P&ID’s.  Accountable for the quality of all of engineering and sequence of operation. Acted as technical lead and main point of contact for these disciplines.</p>
								<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
