---
title: Careers
date: 2023-02-20 11:15:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
	<!-- BEGIN CONTENT -->
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="row margin-bottom-10">
				<!-- BEGIN INFO BLOCK -->
				<div class="col-md-12">
					<h2 class="no-top-space">Work at Cranberry Consulting</h2>
					<p>We believe that time off is in fact time off for our most important resource; our people and their wellbeing.  A happy employee makes our customers happy.  We take our Work-Life balance very seriously and have structured the organization for individuals from all walks of life.  Reach out to learn more about our mindset and the dreams we follow every day!</p>
					<p> We are an organization that believes in a fair wage and benefits that you actually benefit from.  Please submit a resume to find out more!</p>
				</div>
				<!-- END INFO BLOCK -->
			</div>
			<div class="row front-team" style="margin-left:0px">
				<h2>Openings</h2>
						<div class="thumbnail">
							<!--TODO create thumbnail of correct size, this is inefficient -->
							<p>We are always accepting resumes from engineers, project/program managers, and similar professionals from many verticals. Submit yours to <a href="mailto:careers@cranberry-consulting.com">careers@cranberry-consulting.com</a></p>
							<ul class="social-icons social-icons-color">
								<li><a class="linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/in/thomas-stachowski-p-e"></a></li>
							</ul>
						</div>
			</div>

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
