---
title: About Us
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
	<!-- BEGIN CONTENT -->
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="row">
				<!-- BEGIN INFO BLOCK -->
				<div class="col-md-12">
					<h2 class="no-top-space">We help teams accomplish great things</h2>
					<p>We build with the strengths of individuals to help teams accomplish great things.  Looking at situations on a case by case basis and applying the proper due diligence.  We look to simplify process and add quality. </p>
					<p> As our world changes rapidly, we look at new technology to accelerate our abilities.   Relying on fundamentals of science slows down the pace to bring focus on all levels.</p>
					<p> Challenging the status quo gives us a drive to aid our team to satisfy our customers.  We believe in our team to bring long term success to our partners.</p>
				</div>
				<!-- END INFO BLOCK -->
			</div>


			<div class="row front-team" style="margin-left:0px">
				<h2>Meet the team</h2>
						<div class="thumbnail">
							<!--TODO create thumbnail of correct size, this is inefficient -->
							<img src='tom.png' style="width:12%;height:12%">
							<h3>
								<strong>Tom Stachowski, PE</strong>
								<small>President</small>
							</h3>
							<p>Collaborative technical leader focused on schedule, delivery, and quality in a fast paced environment of mission critical facilities. Expertise in team building, mentorship, and training within global project and matrix based organizations. Enthusiastic leader, proven to meet commitments with integrity through innovation for customers. Understands and translates complex ideas into clear actionable items.</p>
							<p>Tom was educated at Wentworth Institute of Technology and graduated with a bachelor's degree in electromechanical engineering.  He has worked in OEM, vendor, and consulting organizations.  Areas of specialty include data center, construction, hydraulics, and machinery.  Sustainability and environmental impacts are areas of development he looks to focus on in the coming years.</p>
							<p>He is a licensed professional engineer and active board member of 7x24 Exchange New England Chapter.  He also holds memberships with ASHRAE  and Infrastructure Masons.  He enjoys mentoring and developing young professionals.</p>
							<p>Tom spends free time with his family making frequent trips to the shoreline of Massachusetts.  He is an avid gardener and bee keeper that takes special interest in natural habitats.</p>
							<ul class="social-icons social-icons-color">
								<li><a class="linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/in/thomas-stachowski-p-e"></a></li>
							</ul>
						</div>
			</div>

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
