---
title: About Us
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
	<!-- BEGIN CONTENT -->
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="row margin-bottom-30">
				<!-- BEGIN INFO BLOCK -->
				<div class="col-md-12">
					<h2 class="no-top-space">We help teams accomplish great things</h2>
					<p>We build with the strengths of individuals to help teams accomplish great things.  Looking at situations on a case by case basis and applying the proper due diligence.  We look to simplify process and add quality. </p>
					<p> As our world changes rapidly, we look at new technology to accelerate our abilities.   Relying on fundamentals of science slows down the pace to bring focus on all levels.</p>
					<p> Challenging the status quo gives us a drive to aid our team to satisfy our customers.  We believe in our team to bring long term success to our partners.</p>
				</div>
				<!-- END INFO BLOCK -->
			</div>


			<div class="row front-team" style="margin-left:0px">
				<h2>Meet the team</h2>
						<div class="thumbnail">
							<!--TODO create thumbnail of correct size, this is inefficient -->
							<img src='tom.png' style="width:12%;height:12%">
							<h3>
								<strong>Tom Stachowski, PE</strong>
								<small>Managing Principal</small>
							</h3>
							<p>Tom is a highly experienced mechanical engineer focused on mechanical systems, controls, equipment, and machinery for mission critical facilities and data centers. He works closely with the CCC team and clients to support comprehensive service delivery for engineering, troubled project turnaround, forensics, and construction-related projects.</p>
							<p> With over a decade of progressive experience in mechanical and electrical systems, and extensive knowledge of the construction industry, Tom brings proven expertise in design and analysis of control systems for data centers, new designs, retrofit applications, and conversions. His project work includes controls, electrical, and mechanical design for industrial cooling systems, chiller plants, test rigs, and hydroelectric dams. Prior to starting CCC, Tom served as vice president for a forensic engineering firm focused on providing seamless solutions in the built environment.  While supporting the core business, he established a new vertical specializing in program management and technical consulting.  His experience in data center was accelerated as a global engineering manager on hyper-scale projects.  His responsibilities included hardware engineering and sequencing of operations for a multi-national data center program.</p>
							<p> He holds a Bachelor of Science degree in electromechanical engineering from Wentworth Institute of Technology in Boston. He is a licensed Professional Engineer and a member of the American Society of Heating, Refrigerating, and Air Conditioning Engineers (ASHRAE). Tom enjoys mentoring young professionals as they begin their journey into engineering.  He is an active member on the board of 7 x 24 Exchange New England Chapter to enhance his outreach to young professionals.  He is also an avid gardener and bee keeper. In his free time, he enjoys spending time with his family, trips to the beach, skiing, walking his dog, and working on his property. </p>
							<ul class="social-icons social-icons-color">
								<li><a class="linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/in/thomas-stachowski-p-e"></a></li>
							</ul>
						</div>
			</div>

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
